body {
	font-size: 16px;
	font-family: Georgia;
	color: #666;
	padding: 20px;
	}

.b-note {
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    margin: 15px 0px;
    border-radius: 5px;
    position: relative;
    text-shadow: none;    
    }
    .b-note-info{
        background-color: #E0EFFF;
        color: #55a;
        box-shadow: 0 2px 0 #9EB6D4;
        }
    .b-note-attention{
        background-color: #FFD;
        box-shadow: 0 2px 0 #F7DF92;
        }
    .b-note-tip{
        background-color: #DDFADE;
        box-shadow: 0 2px 0 #9EC49F;
        }
    .b-note-warning{
        background-color: #FFE7E7;
        color: #a55;
        box-shadow: 0 2px 0 #DF9898;
        }